.container {
  width: 7.5rem;
  margin: 0 auto;
}
.container .header {
  width: 7.5rem;
  height: 0.7rem;
  background-color: #f26b11;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container .header .header_img {
  margin-left: 0.3rem;
  width: 0.5rem;
}
.container .header .header_img img {
  width: 0.3rem;
  height: 0.35rem;
}
.container .header .header_text {
  font-size: 0.28rem;
  color: white;
  margin-left: 1.2rem;
  margin-top: 0.2rem;
}
.container .header .header_circle {
  height: 0.3rem;
  margin-left: 0.8rem;
  display: flex;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
}
.container .header .header_circle .header_circle1 {
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.1rem;
}
.container .img1 img:nth-child(1) {
  width: 7.5rem;
  height: 4.2rem;
}
.container .img1 img:nth-child(2) {
  width: 7.5rem;
  height: 3.27rem;
}
.container .con_price {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}
.container .con_price .price_text1 {
  width: 6.75rem;
  line-height: 0.5rem;
  font-size: 0.3rem;
}
.container .con_price .price_text2 {
  font-size: 0.2rem;
  color: #868686;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}
.container .con_price .price_text2 span {
  font-size: 0.26rem;
  color: red;
  margin-right: 0.1rem;
}
.container .space {
  width: 7.5rem;
  height: 0.15rem;
  background-color: #f0f0f0;
}
.container .discount {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}
.container .discount .discount1 {
  display: flex;
  width: 7.5rem;
  height: 0.98rem;
  border-bottom: 1px solid #f1f1f1;
}
.container .discount .discount1 .discount1_1 {
  width: 1rem;
  font-size: 0.22rem;
  margin-top: 0.05rem;
}
.container .discount .discount1 .discount1_2 {
  font-size: 0.15rem;
  text-align: center;
  width: 0.64rem;
  height: 0.3rem;
  line-height: 0.3rem;
  border-radius: 0.05rem;
  border: 1px solid #b12918;
  color: #b3271a;
  margin-left: 0.1rem;
}
.container .discount .discount1 .discount1_3 {
  width: 3rem;
  font-size: 0.2rem;
  margin-top: 0.05rem;
  margin-left: 0.2rem;
}
.container .discount .discount1 .discount1_4 {
  margin-left: 1.8rem;
  margin-top: 0.05rem;
}
.container .discount .discount1 .discount1_4 img {
  width: 0.35rem;
  height: 0.21rem;
}
.container .discount .purchase {
  margin-top: 0.4rem;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
}
.container .discount .purchase .purchase1 {
  font-size: 0.22rem;
}
.container .discount .purchase .purchase2 {
  border: 1px solid #454545;
  border-radius: 0.05rem;
  margin-right: 0.2rem;
  display: flex;
}
.container .discount .purchase .purchase2 .purchase2_1 {
  width: 0.64rem;
  height: 0.54rem;
  font-size: 0.3rem;
  line-height: 0.54rem;
  text-align: center;
  border-right: 1px solid #454545;
}
.container .discount .purchase .purchase2 .purchase2_2 {
  width: 0.74rem;
  height: 0.54rem;
  font-size: 0.25rem;
  line-height: 0.54rem;
  text-align: center;
  border-right: 1px solid #454545;
}
.container .discount .purchase .purchase2 .purchase2_3 {
  width: 0.64rem;
  height: 0.54rem;
  font-size: 0.3rem;
  line-height: 0.54rem;
  text-align: center;
}
.container .attributes {
  margin-top: 0.4rem;
  margin-left: 0.2rem;
}
.container .attributes .attributes1 {
  display: flex;
  justify-content: space-between;
}
.container .attributes .attributes1 .attributes1_1 {
  font-size: 0.22rem;
}
.container .attributes .attributes1 .attributes1_2 {
  margin-right: 0.2rem;
}
.container .attributes .attributes1 .attributes1_2 img {
  width: 0.35rem;
  height: 0.21rem;
}
.container .attributes .attributes2 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
}
.container .attributes .attributes2 .attributes2_1 {
  font-size: 0.2rem;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  color: #b4b4b4;
}
.container .attributes .attributes2 .attributes2_2 {
  font-size: 0.24rem;
  color: white;
  width: 1.5rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  background-color: #e43a3d;
  margin-left: 0.8rem;
  border-radius: 0.05rem;
}
.container .attributes .attributes2 .attributes2_3 {
  font-size: 0.24rem;
  color: white;
  width: 1.17rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  background-color: #e1e1e2;
  margin-left: 0.1rem;
  border-radius: 0.05rem;
}
.container .message {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 0.3rem;
  font-size: 0.22rem;
}
.container .img2 {
  width: 7.5rem;
}
.container .img2 img {
  width: 7.5rem;
}
.container .evaluate {
  width: 7.5rem;
}
.container .evaluate .evaluate_head {
  font-size: 0.22rem;
  height: 0.92rem;
  line-height: 0.92rem;
  border-bottom: 1px solid #f1f1f1;
}
.container .evaluate .evaluate_name {
  color: #989898;
  font-size: 0.2rem;
  margin-top: 0.2rem;
}
.container .evaluate .evaluate_text1 {
  font-size: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}
.container .evaluate .evaluate_img {
  margin-top: 0.2rem;
  display: flex;
}
.container .evaluate .evaluate_img .evaluate_img1 {
  margin-left: 0.1rem;
}
.container .evaluate .evaluate_img .evaluate_img1 img {
  width: 1.54rem;
  height: 1.51rem;
}
.container .evaluate .evaluate_img .evaluate_img2 {
  margin-left: 0.2rem;
}
.container .evaluate .evaluate_img .evaluate_img2 img {
  width: 1.54rem;
  height: 1.51rem;
}
.container .evaluate .evaluate_img .evaluate_img3 {
  margin-left: 0.2rem;
}
.container .evaluate .evaluate_img .evaluate_img3 img {
  width: 1.54rem;
  height: 1.51rem;
}
.container .evaluate .evaluate_text2 {
  font-size: 0.2rem;
  margin-top: 0.3rem;
  color: #989898;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #f1f1f1;
}
.container .evaluate .evaluate_text3 {
  display: flex;
  justify-content: space-between;
  color: #989898;
  margin-top: 0.2rem;
  font-size: 0.2rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #f1f1f1;
}
.container .evaluate .evaluate_text3 .evaluate_text3_tex2 {
  margin-right: 0.2rem;
}
.container .btn {
  display: flex;
  margin-left: 0.2rem;
}
.container .btn .btn1 {
  width: 1.7rem;
  height: 1.13rem;
  color: #989898;
  font-size: 0.2rem;
}
.container .btn .btn1 .btn1_img {
  width: 0.56rem;
  height: 0.53rem;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
}
.container .btn .btn1 .btn1_img img {
  width: 0.56rem;
  height: 0.53rem;
}
.container .btn .btn1 .btn1_text {
  margin-top: 0.1rem;
  margin-left: 0.25rem;
}
.container .btn .btn2 {
  width: 2.9rem;
  height: 1.13rem;
  line-height: 1.13rem;
  text-align: center;
  background-color: #f26c10;
  color: white;
  font-size: 0.28rem;
}
.container .btn .btn3 {
  width: 2.9rem;
  height: 1.13rem;
  color: white;
  background-color: #e43a3d;
  font-size: 0.28rem;
  line-height: 1.13rem;
  text-align: center;
}
